<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.jbrenier.petfoodingcontrol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".PetFoodingControl"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.activities.petfooding.PetFoodingActivity"
            android:label="@string/title_activity_pet_fooding"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.jbrenier.petfoodingcontrol.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.accountcreation.AccountCreationActivity"
            android:label="@string/title_activity_account_management"
            android:theme="@style/AppThemeNoAppBar" />
        <activity
            android:name=".ui.activities.petmanagement.PetCreationActivity"
            android:label="@string/title_add_a_pet_activity"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:theme="@style/AppThemeNoAppBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.jbrenier.petfoodingcontrol.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.login.LoginActivity"
            android:theme="@style/AppThemeNoAppBar" />
    </application>

</manifest>